<div ng-include="'partials/navbar'"></div>

<p>This is the lotsofdata view.</p>
<ul>
	StartFrom <input type="number" ng-model="startFrom" ng-init="startFrom=0" ng-attr-step="{{limitTo}}"/> <br>
	limitTo <input type="number" ng-model="limitTo" ng-init="limitTo=5" /> <br>
	Datasize: {{data.length}};
	<li ng-repeat="log in data | orderBy: 'timestamp' | startFrom: startFrom | limitTo: limitTo track by log._id ">
		{{log._id}} Country: {{log.country}}, City: {{log.city}}, date: {{log.timestamp}}, requestMethod: {{log.requestMethod}}, ua: {{log.userAgent}}
	</li>
</ul>